body {
    background-image: linear-gradient(to right, rgb(115, 191, 238), rgb(255, 255, 255));
}

.homepage-card {
    transition: all 0.3s;
    width: 600px !important;
    cursor: pointer;
}

.homepage-card:hover {
    transform: scale(1.02);
}


