.tweet-card {
    transition: all 0.3s;
}

.tweet-card:hover {
    transform: scale(1.01);
}

.tweet-body {
    display: flex;
}

.profile-image {
    padding-right: 15px;
}

.handle {
    font-size: medium;
}

.date {
    font-size: medium;
    display: flex;
}

.tweet-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 300px;
}

.favorites-count {
    padding-left: 5px;
}

.retweets-count {
    padding-left: 5px;
    padding-right: 15px;
    
}