.tweet-card {
    transition: all 0.3s;
}

.tweet-card:hover {
    transform: scale(1.02);
}

.tweet-body {
    display: flex;
}

.profile-image {
    padding-right: 15px;
}

.handle {
    font-size: medium;
}

.date {
    font-size: medium;
    display: flex;
}

.favorites-count {
    padding-left: 5px;
}

.retweets-count {
    padding-left: 5px;
    padding-right: 15px;
    
}