.tweet-card {
    display: flex;
}

.profile-image {
    padding-right: 15px;
}

.handle {
    font-size: large;
}

.favorites-count {
    padding-left: 5px;
}

.retweets-count {
    padding-left: 5px;
    padding-right: 5px;
    
}