body {
    background-image: linear-gradient(to right, rgb(29 161 242), rgb(255, 255, 255));
}

h3 {
    color: darkblue
}

.homepage-card {
    transition: all 0.3s;
    width: 600px !important;
    height: 185px !important;
    cursor: pointer;
    background-color: rgb(29 161 242) !important;
}

.homepage-card:hover {
    transform: scale(1.02);
}

.search-content-container, .random-content-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 600px;
    margin: 100px;
}

.button-card {
    display: flex;
    color: white !important;
    background-color: rgb(29 161 242);
    border-color: rgb(29 161 242);
}

.card-image-container {
    padding-right: 20px;
}

.card-image {
    height: 150px !important;
    width: 150px !important;
}

.btn {
    color: white !important;
    background-color: rgb(29 161 242) !important;
}

.divider {
    color:rgb(29 161 242);
}


  