body {
    background-image: linear-gradient(to right, rgb(115, 191, 238), rgb(255, 255, 255));
}

.homepage-card {
    transition: all 0.3s;
    width: 600px !important;
    height: 200px !important;
    cursor: pointer;
}

.homepage-card:hover {
    transform: scale(1.02);
}

.search-content-container, .random-content-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 600px;
    margin: 100px;
}

.button-card {
    display: flex;
}

.card-image-container {
    padding-right: 20px;
}

.btn {
    color: white !important;
}

.material-symbols-rounded {
    font-size: 30px;
}

  