body {
    background-image: linear-gradient(to right, rgb(29 161 242), rgb(255, 255, 255));
}

h3 {
    color: darkblue
}

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.header-card {
    border: rgb(29 161 242) !important;
    width: 1,200px !important;
}

.button-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.button-card {
    transition: all 0.3s;
    cursor: pointer;
    background-color: rgb(29 161 242) !important;
    display: flex;
    color: white !important;
    height: 185px !important;
}

.button-card:hover {
    transform: scale(1.04);
}


.button-card-body {
    display: flex;
    justify-content: center;
}

.search-card-title, .random-card-title {
    color: rgb(226, 100, 15) !important;
}

.search-content-container, .random-content-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 600px;
    margin: 20px;
}

.card-image-container {
    width: 180px;
}

.card-text-container {
    width: 400px;
}

.card-image {
    height: 150px !important;
    width: 150px !important;
}

.card-text {
    text-align: center;
}

.btn {
    color: white !important;
    background-color: rgb(29 161 242) !important;
}

.divider, .handle {
    color:rgb(29 161 242);
}




  